---
# Re-usable workflow for a multi-architecture build
name: Reusable - Multi-arch container build

on:
  workflow_call:
    inputs:
      target_name:
        required: true
        type: string
      registry_ghcr:
        default: true
        type: boolean
      image_suffix:
        default: ""
        type: string
      variables:
        default: ""
        type: string
    outputs: {}

jobs:
  build-amd64:
    uses: ./.github/workflows/_reusable-docker-build-single.yml
    secrets: inherit
    with:
      target_name: ${{ inputs.target_name }}
      image_suffix: ${{ inputs.image_suffix }}
      image_arch: amd64
      runs-on: ubuntu-24.04
      registry_ghcr: ${{ inputs.registry_ghcr }}
      variables: ${{ inputs.variables }}
  build-arm64:
    uses: ./.github/workflows/_reusable-docker-build-single.yml
    secrets: inherit
    with:
      target_name: ${{ inputs.target_name }}
      image_suffix: ${{ inputs.image_suffix }}
      image_arch: arm64
      runs-on: ubuntu-24.04-arm
      registry_ghcr: ${{ inputs.registry_ghcr }}
      variables: ${{ inputs.variables }}
  merge:
    runs-on: ubuntu-latest
    needs:
      - build-amd64
      - build-arm64
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # actions/checkout@v5
      - name: Login to GitHub Container Registry
        if: ${{ inputs.registry_ghcr }}
        uses: docker/login-action@184bdaa0721073962dff0199f1fb9940f07167d1 # docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - id: name
        run: |
          make \
            IMAGE_SUFFIX="${{ inputs.image_suffix }}" \
            ${{ inputs.variables }} \
            ${{ inputs.target_name }}-name
      - uses: int128/docker-manifest-create-action@7061c6f396e85522c0949526ae22f77cb0e987c8 # int128/docker-manifest-create-action@v2
        id: build
        with:
          tags: ${{ steps.name.outputs.full }}
          sources: |
            ${{ needs.build-amd64.outputs.image-digest }}
            ${{ needs.build-arm64.outputs.image-digest }}
      - uses: actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a # actions/attest-build-provenance@v3
        id: attest
        with:
          subject-name: ${{ steps.name.outputs.image }}
          subject-digest: ${{ steps.build.outputs.digest }}
          push-to-registry: true
  pr-comment:
    needs:
      - merge
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'pull_request' }}
    permissions:
      # Needed to write comments on PRs
      pull-requests: write
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # actions/checkout@v5
      - id: name
        run: |
          make \
            IMAGE_SUFFIX="${{ inputs.image_suffix }}" \
            ${{ inputs.variables }} \
            ${{ inputs.target_name }}-name
          echo 'test-output<<EOF' >> $GITHUB_OUTPUT
          make \
            IMAGE_SUFFIX="${{ inputs.image_suffix }}" \
            ${{ inputs.variables }} \
            ${{ inputs.target_name }}-test >> $GITHUB_OUTPUT
          echo 'EOF' >> $GITHUB_OUTPUT
      - uses: peter-evans/find-comment@3eae4d37986fb5a8592848f6a574fdf654e61f9e # peter-evans/find-comment@v3
        id: fc
        with:
          issue-number: ${{ github.event.pull_request.number }}
          comment-author: "github-actions[bot]"
          body-includes: ${{ inputs.target_name }} (`${{ inputs.variables }}`)
      - uses: peter-evans/create-or-update-comment@71345be0265236311c031f5c7866368bd1eff043 # peter-evans/create-or-update-comment@v4
        with:
          comment-id: ${{ steps.fc.outputs.comment-id }}
          issue-number: ${{ github.event.pull_request.number }}
          edit-mode: replace
          body: |
            authentik FIPS Image build status - ${{ inputs.target_name }} (`${{ inputs.variables }}`)

            Image built: `${{ steps.name.outputs.full }}` for commit `${{ github.event.pull_request.head.sha }}`

            Test output:

            ```
            ${{ steps.name.outputs.test-output }}
            ```
