---
# Re-usable workflow for a multi-architecture build
name: Reusable - Multi-arch container build

on:
  workflow_call:
    inputs:
      target_name:
        required: true
        type: string
      registry_ghcr:
        default: true
        type: boolean
      image_suffix:
        default: ""
        type: string
      variables:
        default: ""
        type: string
    outputs: {}

jobs:
  build-amd64:
    uses: ./.github/workflows/_reusable-docker-build-single.yml
    secrets: inherit
    with:
      target_name: ${{ inputs.target_name }}
      image_suffix: ${{ inputs.image_suffix }}
      image_arch: amd64
      runs-on: ubuntu-24.04
      registry_ghcr: ${{ inputs.registry_ghcr }}
      variables: ${{ inputs.variables }}
  build-arm64:
    uses: ./.github/workflows/_reusable-docker-build-single.yml
    secrets: inherit
    with:
      target_name: ${{ inputs.target_name }}
      image_suffix: ${{ inputs.image_suffix }}
      image_arch: arm64
      runs-on: ubuntu-24.04-arm
      registry_ghcr: ${{ inputs.registry_ghcr }}
      variables: ${{ inputs.variables }}
  merge:
    runs-on: ubuntu-latest
    needs:
      - build-amd64
      - build-arm64
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Login to GitHub Container Registry
        if: ${{ inputs.registry_ghcr }}
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - id: name
        run: |
          make \
            IMAGE_SUFFIX="${{ inputs.image_suffix }}" \
            ${{ inputs.variables }} \
            ${{ inputs.target_name }}-name
      - uses: int128/docker-manifest-create-action@a39573caa37b6a8a03302d43b57c3f48635096e2 # v2
        id: build
        with:
          tags: ${{ steps.name.outputs.full }}
          sources: |
            ${{ needs.build-amd64.outputs.image-digest }}
            ${{ needs.build-arm64.outputs.image-digest }}
      - uses: actions/attest-build-provenance@96278af6caaf10aea03fd8d33a09a777ca52d62f # v3
        id: attest
        with:
          subject-name: ${{ steps.name.outputs.image }}
          subject-digest: ${{ steps.build.outputs.digest }}
          push-to-registry: true
  pr-comment:
    needs:
      - merge
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'pull_request' }}
    permissions:
      # Needed to write comments on PRs
      pull-requests: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - id: name
        run: |
          make \
            IMAGE_SUFFIX="${{ inputs.image_suffix }}" \
            ${{ inputs.variables }} \
            ${{ inputs.target_name }}-name
          echo 'test-output<<EOF' >> $GITHUB_OUTPUT
          make \
            IMAGE_SUFFIX="${{ inputs.image_suffix }}" \
            ${{ inputs.variables }} \
            ${{ inputs.target_name }}-test >> $GITHUB_OUTPUT
          echo 'EOF' >> $GITHUB_OUTPUT
      - uses: peter-evans/find-comment@b30e6a3c0ed37e7c023ccd3f1db5c6c0b0c23aad # v4
        id: fc
        with:
          issue-number: ${{ github.event.pull_request.number }}
          comment-author: "github-actions[bot]"
          body-includes: ${{ inputs.target_name }} (`${{ inputs.variables }}`)
      - uses: peter-evans/create-or-update-comment@e8674b075228eee787fea43ef493e45ece1004c9 # v5
        with:
          comment-id: ${{ steps.fc.outputs.comment-id }}
          issue-number: ${{ github.event.pull_request.number }}
          edit-mode: replace
          body: |
            authentik FIPS Image build status - ${{ inputs.target_name }} (`${{ inputs.variables }}`)

            Image built: `${{ steps.name.outputs.full }}` for commit `${{ github.event.pull_request.head.sha }}`

            Test output:

            ```
            ${{ steps.name.outputs.test-output }}
            ```
