---
# Re-usable workflow for a single-architecture build
name: Reusable - Single-arch Container build

on:
  workflow_call:
    inputs:
      target_name:
        required: true
        type: string
      registry_ghcr:
        default: true
        type: boolean
      image_suffix:
        default: ""
        type: string
      variables:
        default: ""
        type: string
      image_arch:
        required: true
        type: string
      runs-on:
        required: true
        type: string
      extra_args:
        type: string
        description: Extra args to `docker buildx` command
        default: "--push"
    outputs:
      image-digest:
        value: ${{ jobs.build.outputs.image-digest }}

jobs:
  build:
    name: Build ${{ inputs.image_arch }}
    runs-on: ${{ inputs.runs-on }}
    outputs:
      image-digest: ${{ steps.digest.outputs.full_digest }}
    permissions:
      # Needed to upload container images to ghcr.io
      packages: write
      # Needed for attestation
      id-token: write
      attestations: write
      # Needed for checkout
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
      - uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3
      - if: ${{ inputs.registry_ghcr }}
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: crazy-max/ghaction-github-runtime@3cb05d89e1f492524af3d41a1c98c83bc3025124 # v3
      - id: build
        run: |
          set -xe
          docker buildx create \
            --use \
            --platform=${{ inputs.image_arch }} \
            --name multi-platform-builder \
            --driver-opt env.BUILDKIT_STEP_LOG_MAX_SIZE=50000000
          docker buildx inspect --bootstrap
          docker buildx install
          cache_scope="${{ inputs.target_name }}-${{ inputs.image_arch }}-${{ inputs.variables }}"
          run_url="${GITHUB_SERVER_URL}/${GITHUB_REPOSITORY}/actions/runs/${GITHUB_RUN_ID}/attempts/${GITHUB_RUN_ATTEMPT}"
          make \
            DOCKER_BUILDX_FLAGS="
              --platform ${{ inputs.image_arch }} \
              ${{ inputs.extra_args }} \
              --attest type=provenance,builder-id=${run_url} \
              --attest type=sbom,disabled=false \
              --cache-from type=gha,ghtoken=${{ secrets.GITHUB_TOKEN }},scope=${cache_scope} \
              --cache-to type=gha,mode=max,ghtoken=${{ secrets.GITHUB_TOKEN }},scope=${cache_scope}" \
            IMAGE_SUFFIX="${{ inputs.image_suffix }}" \
            ARCH="${{ inputs.image_arch }}" \
            ${{ inputs.variables }} \
            ${{ inputs.target_name }}
      - id: digest
        env:
          image: ${{ steps.build.outputs.full }}
        run: |
          docker pull $image
          docker inspect $image
          full_digest=$(docker inspect $image -f "{{ index .RepoDigests 0 }}")
          short_digest=$(echo $full_digest | sed 's/.*@//g')
          echo "full_digest=${full_digest}" >> ${GITHUB_OUTPUT}
          echo "short_digest=${short_digest}" >> ${GITHUB_OUTPUT}
      - uses: actions/attest-build-provenance@96278af6caaf10aea03fd8d33a09a777ca52d62f # v3
        with:
          subject-name: ${{ steps.build.outputs.image }}
          subject-digest: ${{ steps.digest.outputs.short_digest }}
          push-to-registry: true
