name: Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    - cron: "32 0 * * *"

permissions:
  contents: read
  packages: write

jobs:
  debian-fips:
    name: debian-fips
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build-target
        with:
          target: debian-fips
          container_token: ${{ secrets.GITHUB_TOKEN }}
          extra_args: ${{ github.event_name != 'pull_request' && '--push' || '' }}
  xmlsec1-fips:
    needs:
      - debian-fips
    name: xmlsec1-fips
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build-target
        with:
          target: xmlsec1-fips
          container_token: ${{ secrets.GITHUB_TOKEN }}
          extra_args: ${{ github.event_name != 'pull_request' && '--push' || '' }}
  python-fips:
    needs:
      - xmlsec1-fips
    name: python-fips
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build-target
        with:
          target: python-fips
          container_token: ${{ secrets.GITHUB_TOKEN }}
          extra_args: ${{ github.event_name != 'pull_request' && '--push' || '' }}
  python-fips-full:
    needs:
      - python-fips
    name: python-fips-full
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build-target
        with:
          target: python-fips-full
          container_token: ${{ secrets.GITHUB_TOKEN }}
          extra_args: ${{ github.event_name != 'pull_request' && '--push' || '' }}
