name: Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    - cron: "32 0 * * *"

permissions:
  contents: read
  packages: write

jobs:
  debian-fips:
    name: debian-fips
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build-target
        with:
          target: debian-fips
          container_token: ${{ secrets.GITHUB_TOKEN }}
          image_suffix: "${{ github.event_name != 'pull_request' && github.event.number || '' }}"
  xmlsec1-fips:
    needs:
      - debian-fips
    name: xmlsec1-fips
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build-target
        with:
          target: xmlsec1-fips
          container_token: ${{ secrets.GITHUB_TOKEN }}
          image_suffix: "${{ github.event_name != 'pull_request' && github.event.number || '' }}"
  python-fips:
    needs:
      - xmlsec1-fips
    strategy:
      matrix:
        version:
          - 3.12.8
          - 3.13.2
    name: python-fips
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build-target
        with:
          target: python-fips
          container_token: ${{ secrets.GITHUB_TOKEN }}
          image_suffix: "${{ github.event_name != 'pull_request' && github.event.number || '' }}"
          variables: PYTHON_VERSION=${{ matrix.version }}
