name: Build

on:
  push:
    branches: [main]
  pull_request:
  schedule:
    - cron: "32 0 * * *"

permissions:
  contents: read
  packages: write
  attestations: write
  id-token: write
  pull-requests: write

jobs:
  debian-fips:
    name: debian-fips
    uses: ./.github/workflows/_reusable-docker-build.yml
    secrets: inherit
    with:
      target_name: debian-fips
      image_suffix: "${{ github.event_name == 'pull_request' && github.event.number || '' }}"
  xmlsec1-fips:
    needs:
      - debian-fips
    name: xmlsec1-fips
    uses: ./.github/workflows/_reusable-docker-build.yml
    secrets: inherit
    with:
      target_name: xmlsec1-fips
      image_suffix: "${{ github.event_name == 'pull_request' && github.event.number || '' }}"
  python-fips:
    needs:
      - xmlsec1-fips
    strategy:
      fail-fast: false
      matrix:
        version:
          - "3.12.12" # renovate: python
          - "3.13.9" # renovate: python
          - "3.14.2" # renovate: python
    name: python-fips
    uses: ./.github/workflows/_reusable-docker-build.yml
    secrets: inherit
    with:
      target_name: python-fips
      image_suffix: "${{ github.event_name == 'pull_request' && github.event.number || '' }}"
      variables: PYTHON_VERSION=${{ matrix.version }}
